@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import url("./reset.css");
@import url("./variables.css");
@import url("./utility.css");

html,
body {
  font-family: var(--font-family);
  font-size: var(--font-size-6);
  letter-spacing: 0.1em;
  background-color: var(--bg-color-light);
}

::selection {
  background-color: var(--color-blue-200);
  border-radius: var(--spacing-2);
}

.h0 {
  font-size: var(--font-size-0);
  line-height: var(--line-height-0);
  font-weight: var(--font-weight-600);
}

h1,
.h1 {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  font-weight: var(--font-weight-600);
}

h2,
.h2 {
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);
  font-weight: var(--font-weight-600);
}

h3,
.h3 {
  font-size: var(--font-size-3);
  line-height: var(--line-height-3);
  font-weight: var(--font-weight-600);
}

h4,
.h4 {
  font-size: var(--font-size-4);
  line-height: var(--line-height-4);
  font-weight: var(--font-weight-600);
}

h5,
.h5 {
  font-size: var(--font-size-5);
  line-height: var(--line-height-5);
  font-weight: var(--font-weight-600);
}

h6,
.h6 {
  font-size: var(--font-size-6);
  line-height: var(--line-height-6);
  font-weight: var(--font-weight-600);
}

p {
  font-size: var(--font-size-6);
  line-height: var(--line-height);
  font-weight: var(--font-weight-400);
}

small,
.small {
  display: inline-block;
  font-size: var(--font-size-8);
  font-weight: var(--font-weight-900);
}

strong {
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-600);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

code {
  display: inline-block;
  font-family: monospace;
  background-color: var(--color-blue-100);
  padding-inline: var(--spacing-4);
  border-radius: var(--spacing-2);
}
/*
 * Building Blocks
 * 1. Containers
 */

.container-fluid {
  inline-size: 100%;
  padding-inline: var(--spacing-16);
  padding-block: var(--spacing-8);
}

.container-mobile {
  max-inline-size: var(--breakpoint-mobile);
  margin-inline: auto;
  padding-inline: var(--spacing-16);
  padding-block: var(--spacing-8);
}

.container-tablet {
  max-inline-size: var(--breakpoint-tablet);
  margin-inline: auto;
  padding-inline: var(--spacing-16);
  padding-block: var(--spacing-8);
}

.container-laptop-mini {
  max-inline-size: var(--breakpoint-laptop-mini);
  margin-inline: auto;
  padding-inline: var(--spacing-16);
  padding-block: var(--spacing-8);
}

.container-laptop {
  max-inline-size: var(--breakpoint-laptop);
  margin-inline: auto;
  padding-inline: var(--spacing-16);
  padding-block: var(--spacing-8);
}

.container-desktop {
  max-inline-size: var(--breakpoint-desktop);
  margin-inline: auto;
  padding-inline: var(--spacing-16);
  padding-block: var(--spacing-8);
}

.container-tv {
  max-inline-size: var(--breakpoint-tv);
  margin-inline: auto;
  padding-inline: var(--spacing-16);
  padding-block: var(--spacing-8);
}

.container {
  max-inline-size: var(--breakpoint-mobile);
  margin-inline: auto;
  padding-inline: var(--spacing-16);
  padding-block: var(--spacing-8);
}

@media screen and (min-width: 40em) {
  /* var(--breakpoint-tablet) */
  .container {
    max-inline-size: var(--breakpoint-tablet);
  }
}

@media screen and (min-width: 48em) {
  /* var(--breakpoint-laptop-mini) */
  .container {
    max-inline-size: var(--breakpoint-laptop-mini);
  }
}

@media screen and (min-width: 64em) {
  /* var(--breakpoint-laptop) */
  .container {
    max-inline-size: var(--breakpoint-laptop);
  }
}

@media screen and (min-width: 80em) {
  /* var(--breakpoint-desktop) */
  .container {
    max-inline-size: var(--breakpoint-desktop);
  }
}

@media screen and (min-width: 96em) {
  /* var(--breakpoint-tv) */
  .container {
    max-inline-size: var(--breakpoint-tv);
  }
}

/*
 * Components
 *  1. Avatar
 *  2. Badge
 *  3. Alert
 *  4. Button
 *  5. List
 *  6. Nav
 *  7. Footer
 *  8. Dropdown
 *  9. Hero
 * 10. Card
 * 11. Panel 
 * 12. Iamges
 */

/* Avatar */
.avatar {
  display: inline-block;
  vertical-align: middle;
  block-size: var(--spacing-80);
  inline-size: var(--spacing-80);
  border-radius: var(--border-radius-2);
  border: 1px solid var(--border-color);
}

.avatar.avatar-rounded {
  border-radius: var(--border-radius-round);
}

.avatar.avatar-rounded-square {
  border-radius: var(--border-radius-16);
}

.avatar.avatar-small {
  block-size: var(--spacing-40);
  inline-size: var(--spacing-40);
}

.avatar.avatar-large {
  block-size: var(--spacing-160);
  inline-size: var(--spacing-160);
}

.avatar.avatar-xlarge {
  block-size: var(--spacing-320);
  inline-size: var(--spacing-320);
}

/* Badge */
.badge-container {
  position: relative;
  display: inline-block;
}

.badge-container .badge {
  position: absolute;
}

.badge-container .badge-top-right {
  inset-block-start: -20%;
  inset-inline-start: 80%;
}

.badge-container .badge-bottom-right {
  inset-block-end: 10%;
  inset-inline-start: 80%;
}

.badge {
  display: inline-block;
  padding-block: var(--spacing-2);
  padding-inline: var(--spacing-4);
  font-size: var(--font-size-8);
  font-weight: var(--font-weight-600);
  border-radius: var(--border-radius-2);
  color: var(--text-color-white);
  background-color: var(--color-gray-400);
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

/* Alert */

.alert {
  block-size: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-16);
  padding-block: var(--spacing-16);
  padding-inline: var(--spacing-16);
  border-radius: var(--border-radius-4);
  border: 1px solid var(--border-color);
}

.alert .alert-icon {
  padding-block-start: var(--spacing-4);
}

.alert .alert-content {
  flex-grow: 1;
}

.alert.alert-primary {
  color: var(--color-blue-600);
  background-color: var(--color-blue-100);
  border: 1px solid var(--color-blue-600);
}

.alert.alert-secondary {
  color: var(--color-purple-600);
  background-color: var(--color-purple-100);
  border: 1px solid var(--color-purple-600);
}

.alert.alert-success {
  color: var(--color-green-600);
  background-color: var(--color-green-100);
  border: 1px solid var(--color-green-600);
}

.alert.alert-warning {
  color: var(--color-yellow-600);
  background-color: var(--color-yellow-100);
  border: 1px solid var(--color-yellow-600);
}

.alert.alert-danger {
  color: var(--color-rose-600);
  background-color: var(--color-rose-100);
  border: 1px solid var(--color-rose-600);
}

/* Button */
.btn {
  border: 1px solid var(--gray-color-dark);
  display: inline-block;
  font-weight: var(--font-weight-light);
  line-height: var(--line-height);
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border-radius: var(--border-radius-2);
  padding-block: var(--spacing-6);
  padding-inline: var(--spacing-12);
  background-color: var(--bg-color-light);
  border: 1px solid var(--border-color);
  text-transform: uppercase;
  font-weight: var(--font-weight-600);
  letter-spacing: inherit;
}

.btn:disabled {
  opacity: 0.65;
  pointer-events: none;
}

.btn:hover {
  opacity: 0.9;
}

.btn.btn-primary {
  color: var(--text-color-white);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn.btn-primary-outlined {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn.btn-text {
  color: var(--primary-color);
  border: none;
}

.btn.btn-flat {
  border: 0;
}

.btn.btn-icon {
  background-color: transparent;
  border: none;
}

.btn.btn-raised {
  box-shadow: var(--shadow-sm);
}

.btn.btn-float {
  position: fixed;
  inset-block-end: 10%;
  inset-inline-end: 10%;
  block-size: var(--spacing-48);
  inline-size: var(--spacing-48);
  box-shadow: var(--shadow-sm);
  z-index: 999;
  border-radius: var(--border-radius-round);
}

/* List Inline */

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--spacing-8);
}

.list-inline {
  align-items: center;
  flex-direction: row;
  gap: var(--spacing-32);
}

/* Nav */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--spacing-4);
  padding-inline: var(--spacing-8);
  background-color: inherit;
}

.nav-content {
  display: flex;
  align-items: center;
  gap: var(--spacing-16);
}

.nav-content-hidden {
  display: none;
}

.nav-content-left {
  justify-content: flex-start;
}

.nav-content-right {
  justify-content: flex-end;
}

.nav-brand {
  font-style: var(--font-weight-600);
  font-size: var(--font-size-5);
  flex: 0 0 auto;
}

.nav .nav-link {
  text-decoration: none;
  font-weight: var(--font-weight-600);
}

.nav .nav-link-active {
  color: var(--primary-color);
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: var(--spacing-4);
  padding-inline: var(--spacing-8);
  background-color: inherit;
}

.footer .footer-header {
  font-size: var(--font-size-7);
  font-weight: var(--font-weight-600);
  text-align: center;
  margin-block-end: var(--spacing-8);
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: calc(100% + var(--spacing-8));
  border: 1px solid var(--border-color);
  background-color: var(--bg-color-light);
  display: none;
  border-radius: var(--spacing-2);
  padding: var(--spacing-8);
  z-index: 1;
}

.dropdown-active .dropdown-menu {
  display: block;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-48);
}

.hero .hero-image {
  inline-size: 70%;
}

/* Card */
.card {
  display: flex;
  position: relative;
  color: var(--text-color);
  background-color: var(--bg-color-light);
  border-radius: var(--spacing-4);
  border: 1px solid var(--border-color);
  inline-size: 100%;
}
.card.card-shadow {
  box-shadow: var(--shadow);
}

.card .card-img {
  max-width: 100%;
}

.card .card-badge-container {
  position: relative;
}

.card .card-text-badge {
  position: absolute;
  display: inline-block;
  padding-block: var(--spacing-2);
  padding-inline: var(--spacing-6);
  font-size: var(--font-size-7);
  font-weight: var(--font-weight-600);
  border-radius: var(--border-radius-2);
  color: var(--text-color-white);
  background-color: var(--color-blue-600);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  inset-block-start: 5%;
  inset-inline-start: 5%;
}

.card .card-btn-badge {
  border-radius: var(--border-radius-round);
  position: absolute;
  inset-block-start: 5%;
  inset-inline-end: 5%;
}

.card .card-btn-badge-active {
  color: var(--color-rose-600);
}

.card-action > .btn {
  inline-size: 100%;
}

.card.card-potrait {
  flex-direction: column;
}

.card-potrait .card-description {
  text-align: center;
}

.card.card-landscape {
  flex-direction: row;
}

.card.card-landscape .card-img {
  max-inline-size: 40%;
}

.card.card-landscape .card-description-action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: var(--spacing-16);
  padding-inline: var(--spacing-16);
}

.card.card-text-only .card-img {
  display: none;
}

.card.card-text-only .card-description {
  text-align: left;
}

.card.card-text-only .card-action {
  display: none;
}

.card-overlay {
  display: none;
}

.card.card-overlay-container {
  position: relative;
}

.card.card-overlay-container .card-overlay-active {
  position: absolute;
  display: block;
  color: var(--color-rose-600);
  font-weight: var(--font-weight-900);
  background-color: var(--color-gray-200);
  opacity: 0.7;
  border: 1px solid var(--primary-color);
  inset-block-start: 0;
  inset-block-end: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  text-align: center;
  text-transform: uppercase;
}

/* Panel */
.panel {
  position: relative;
  color: var(--text-color);
  background-color: var(--bg-color-light);
  border-radius: var(--spacing-4);
  border: 1px solid var(--border-color);
  inline-size: 100%;
}

.panel > * {
  margin-block: var(--spacing-16);
  margin-inline: var(--spacing-16);
}

.panel > * + * {
  border-block-start: 1px solid var(--border-color);
}

.panel > .code-container {
  max-inline-size: 100%;
  border-block-start: 1px solid var(--border-color);
  border-inline-start: var(--spacing-4) solid var(--color-blue-100);
}

/* Images */

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

.image-responsive-container {
  position: relative;
  overflow: hidden;
  block-size: var(--spacing-160);
  inline-size: var(--spacing-160);
  border-radius: var(--border-radius-2);
}

.image-responsive-container > img {
  all: unset;
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.image-responsive-container.image-responsive-container-large {
  block-size: var(--spacing-320);
  inline-size: var(--spacing-320);
}

.image-responsive-container.image-responsive-container-rounded-square {
  border-radius: var(--border-radius-16);
}

.image-responsive-container.image-responsive-container-rounded {
  border-radius: var(--border-radius-round);
}

/* Form Elements */

.form-group {
  margin-block-end: var(--spacing-16);
}

.label {
  display: inline-block;
  margin-bottom: var(--spacing-8);
}

.form-control {
  display: block;
  width: 100%;
  resize: vertical;
  padding-block: var(--spacing-6);
  padding-inline: var(--spacing-12);
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-400);
  line-height: inherit;
  color: var(--text-color);
  background-color: var(--bg-color-light);
  background-clip: padding-box;
  border: 1px solid var(--border-color);
  border-radius: var(--spacing-4);
  min-block-size: var(--spacing-28);
}

.form-help-text {
  display: block;
  color: var(--text-color-muted);
  margin-block-start: var(--spacing-4);
}

.input-group {
  display: flex;
  flex-wrap: wrap;
}

.input-group .form-control {
  flex: 1 1 auto;
  width: 1%;
  border-radius: var(--border-radius-none);
  outline: none;
}

.input-group .form-help-text {
  width: 100%;
}

.label.required:after {
  content: "*";
  color: var(--color-rose-600);
  margin-inline-start: var(--spacing-4);
}

.form-control-invalid {
  border: 1px solid var(--color-rose-600);
}

.form-control-invalid ~ .form-help-text {
  color: var(--color-rose-600);
}

.input-group-prepend,
.input-group-append {
  display: flex;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding-block: var(--spacing-6);
  padding-inline: var(--spacing-12);
  margin-bottom: 0;
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-400);
  line-height: inherit;
  color: var(--text-color);
  text-align: center;
  white-space: nowrap;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: var(--spacing-4);
}
