@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import url("./reset.css");
@import url("./variables.css");

html,
body {
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  background-color: var(--bg-color-light);
}

h1,
.is-h1 {
  font-size: var(--font-size-xxlg);
  line-height: var(--line-height-xxlg);
  font-weight: var(--font-weight-semibold);
}

h2,
.is-h2 {
  font-size: var(--font-size-xlg);
  line-height: var(--line-height-xlg);
  font-weight: var(--font-weight-semibold);
}

h3,
.is-h3 {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-xlg);
  font-weight: var(--font-weight-semibold);
}

h4,
.is-h4 {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  font-weight: var(--font-weight-semibold);
}

h5,
.is-h5 {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  font-weight: var(--font-weight-semibold);
}

h6,
.is-h6 {
  font-size: var(--font-size-xsm);
  line-height: var(--line-height-xsm);
  font-weight: var(--font-weight-semibold);
}

p {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  font-weight: var(--font-weight-regular);
}

strong {
  font-weight: var(--font-weight-semibold);
}

/*
 * Components
 * 1. Avatar
 * 2. Badge
 * 3. Alert
 * 4. Button
 * 5. Hero
 */

/* Avatar */
.avatar {
  display: inline-block;
  vertical-align: middle;
  font-size: var(--font-size-md);
  block-size: 2.5em;
  inline-size: 2.5em;
  border-radius: var(--border-radius-md);
}

/* Badge */
.has-badge {
  position: relative;
  display: inline-block;
}

.has-badge .badge {
  position: absolute;
}

.has-badge .is-top-right {
  top: calc(var(--spacing-sm) * -1);
  right: calc(var(--spacing-sm) * -1);
}

.has-badge .is-bottom-right {
  bottom: calc(var(--spacing-sm) * -1);
  right: calc(var(--spacing-sm) * -1);
}

.badge {
  border-radius: var(--border-radius-round);
  padding: 1px 2px;
  color: var(--text-color);
  background-color: var(--gray-color-dark);
}

.badge.is-primary {
  color: var(--text-color-on-primary-color-bg);
  background-color: var(--primary-color);
}

.badge.is-secondary {
  color: var(--text-color-on-secondary-color-bg);
  background-color: var(--secondary-color);
}

.badge.is-success {
  color: var(--text-color-on-success-color-bg);
  background-color: var(--success-color);
}

.badge.is-warning {
  color: var(--text-color-on-warning-color-bg);
  background-color: var(--warning-color);
}

.badge.is-error {
  color: var(--text-color-on-error-color-bg);
  background-color: var(--error-color);
}

/* Alert */

.alert {
  block-size: 100%;
  padding-block: var(--spacing-md);
  padding-inline: var(--spacing-lg);
  border-radius: var(--border-radius-sm);
}

.alert.is-primary {
  color: var(--text-color-on-primary-color-bg);
  background-color: var(--primary-color-light);
  border: 1px solid var(--primary-color);
}

.alert.is-secondary {
  color: var(--text-color-on-secondary-color-bg);
  background-color: var(--secondary-color-light);
  border: 1px solid var(--secondary-color);
}

.alert.is-success {
  color: var(--text-color-on-success-color-bg);
  background-color: var(--success-color-light);
  border: 1px solid var(--success-color);
}

.alert.is-warning {
  color: var(--text-color-on-warning-color-bg);
  background-color: var(--warning-color-light);
  border: 1px solid var(--warning-color);
}

.alert.is-error {
  color: var(--text-color-on-error-color-bg);
  background-color: var(--error-color-light);
  border: 1px solid var(--error-color);
}

.alert.is-primary-outlined {
  color: var(--primary-color-dark);
  border: 1px solid var(--primary-color);
}

.alert.is-secondary-outlined {
  color: var(--secondary-color-dark);
  border: 1px solid var(--secondary-color);
}

.alert.is-success-outlined {
  color: var(--success-color-dark);
  border: 1px solid var(--success-color);
}

.alert.is-warning-outlined {
  color: var(--warning-color-dark);
  border: 1px solid var(--warning-color);
}

.alert.is-error-outlined {
  color: var(--error-color-dark);
  border: 1px solid var(--error-color);
}

/* Button */
.btn {
  border: 1px solid var(--gray-color-dark);
  display: inline-block;
  font-weight: var(--font-weight-light);
  line-height: var(--line-height);
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border-radius: var(--border-radius-sm);
  padding-block: var(--spacing-sm);
  padding-inline: var(--spacing-md);
  background-color: var(--bg-color-light);
  border: 1px solid var(--border-color);
}

.btn:disabled {
  opacity: 0.65;
  pointer-events: none;
}

.btn.is-primary {
  color: var(--text-color-on-primary-color-bg);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn.is-secondary {
  color: var(--text-color-on-secondary-color-bg);
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.btn.is-success {
  color: var(--text-color-on-success-color-bg);
  background-color: var(--success-color);
  border: 1px solid var(--success-color);
}

.btn.is-warning {
  color: var(--text-color-on-warning-color-bg);
  background-color: var(--warning-color);
  border: 1px solid var(--warning-color);
}

.btn.is-error {
  color: var(--text-color-on-error-color-bg);
  background-color: var(--error-color);
  border: 1px solid var(--error-color);
}

.btn.is-primary-outlined {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn.is-secondary-outlined {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.btn.is-success-outlined {
  color: var(--success-color);
  border: 1px solid var(--success-color);
}

.btn.is-warning-outlined {
  color: var(--warning-color);
  border: 1px solid var(--warning-color);
}

.btn.is-error-outlined {
  color: var(--error-color-dark);
  border: 1px solid var(--error-color);
}

.btn.is-link {
  color: var(--primary-color);
  border: none;
}

.is-link:hover {
  opacity: 0.9;
  text-decoration: underline;
}

/* Nav */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--spacing-xsm);
  padding-inline: var(--spacing-md);
  border-block-end: 1px solid var(--border-color);
  background-color: inherit;
}

.nav-content {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.nav-content-left {
  justify-content: flex-start;
}

.nav-content-right {
  justify-content: flex-end;
}

.nav-brand {
  font-style: var(--font-weight-semibold);
  font-size: var(--font-size-md);
  flex: 0 0 auto;
}

.nav .is-active {
  font-weight: var(--font-weight-semibold);
}

.nav .list-inline {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-md);
}

/* List */

/* Hero */
/* .hero {
  display: flex;
  flex-direction: row;
} */

/*
 * Helpers
 * ~ TOC ~
 * 1.  Font Size
 * 2.  Line Height
 * 3.  Font Weight
 * 4.  General Sizing
 */

/* Font Size */

.has-fs-xsm {
  font-size: var(--font-size-xsm) !important;
}
.has-fs-sm {
  font-size: var(--font-size-sm) !important;
}
.has-fs-md {
  font-size: var(--font-size-md) !important;
}
.has-fs-lg {
  font-size: var(--font-size-lg) !important;
}
.has-fs-xlg {
  font-size: var(--font-size-xlg) !important;
}
.has-fs-xxlg {
  font-size: var(--font-size-xxlg) !important;
}

/* Line Height */

.has-lh-xsm {
  line-height: var(--line-height-xsm) !important;
}
.has-lh-sm {
  line-height: var(--line-height-sm) !important;
}
.has-lh-md {
  line-height: var(--line-height-md) !important;
}
.has-lh-lg {
  line-height: var(--line-height-lg) !important;
}
.has-lh-xlg {
  line-height: var(--line-height-xlg) !important;
}
.has-lh-xxlg {
  line-height: var(--line-height-xxlg) !important;
}

/* Font Weight */

.has-fw-light {
  font-weight: var(--font-weight-light) !important;
}
.has-fw-regular {
  font-weight: var(--font-weight-regular) !important;
}
.has-fw-semibold {
  font-weight: var(--font-weight-semibold) !important;
}
.has-fw-bold {
  font-weight: var(--font-weight-bold) !important;
}
.has-fw-black {
  font-weight: var(--font-weight-black) !important;
}

/* General Sizing */

.is-xsm {
  font-size: var(--font-size-xsm) !important;
}

.is-sm {
  font-size: var(--font-size-sm) !important;
}

.is-md {
  font-size: var(--font-size-md) !important;
}

.is-lg {
  font-size: var(--font-size-lg) !important;
}

.is-xlg {
  font-size: var(--font-size-xlg) !important;
}

.is-xxlg {
  font-size: var(--font-size-xxlg) !important;
}

.is-rounded {
  border-radius: var(--border-radius-round) !important;
}
