/*
 * Contextual Variables
 * There are colours that will not be referenced directly in the css
 * These will be referenced in other variables which will be used
 * ~ TOC ~
 * 1. Typography
 * 2. General Spacing 
 * x. Border Radius 
 * x. Colours
 * x. Box Shadow
 * x. Breakpoints
 */

:root {
  /*
   * Typography
   */

  /* Font Family */
  --t-font-family: "'Montserrat', sans-serif";

  /* Font Size */
  --t-font-size-xsm: calc(0.5 * var(--t-font-size-multiplier)); /* 8px */
  --t-font-size-sm: calc(1 * var(--t-font-size-multiplier)); /* 16px */
  --t-font-size-md: calc(1.5 * var(--t-font-size-multiplier)); /* 24px */
  --t-font-size-lg: calc(2 * var(--t-font-size-multiplier)); /* 32px */
  --t-font-size-xlg: calc(2.5 * var(--t-font-size-multiplier)); /* 40px */
  --t-font-size-xxlg: calc(3 * var(--t-font-size-multiplier)); /* 48px */

  /* Line Height */
  --t-line-height-xsm: calc(0.5 * var(--t-line-height-multiplier)); /* 8px */
  --t-line-height-sm: calc(1 * var(--t-line-height-multiplier)); /* 16px */
  --t-line-height-md: calc(1.5 * var(--t-line-height-multiplier)); /* 24px */
  --t-line-height-lg: calc(2 * var(--t-line-height-multiplier)); /* 32px */
  --t-line-height-xlg: calc(2.5 * var(--t-line-height-multiplier)); /* 40px */
  --t-line-height-xxlg: calc(4 * var(--t-line-height-multiplier)); /* 64px */

  /* Font Weight */
  --t-font-weight-light: calc(3 * var(--t-font-weight-multiplier)); /* 300 */
  --t-font-weight-regular: calc(4 * var(--t-font-weight-multiplier)); /* 400 */
  --t-font-weight-semibold: calc(6 * var(--t-font-weight-multiplier)); /* 600 */
  --t-font-weight-bold: calc(7 * var(--t-font-weight-multiplier)); /* 700 */
  --t-font-weight-black: calc(9 * var(--t-font-weight-multiplier)); /* 900 */

  /*
   * General Spacing 
   */
  --t-spacing-sm: calc(0.5 * var(--t-spacing-multiplier)); /* 8px */
  --t-spacing-md: calc(1 * var(--t-spacing-multiplier)); /* 16px */
  --t-spacing-lg: calc(1.5 * var(--t-spacing-multiplier)); /* 24px */
  --t-spacing-xlg: calc(2 * var(--t-spacing-multiplier)); /* 32px */
  --t-spacing-xxlg: calc(3 * var(--t-spacing-multiplier)); /* 48px */

  /*
   * Border Radius 
   */
  --t-border-radius-sm: 5px;
  --t-border-radius-md: 10px;
  --t-border-radius-lg: 15px;
  --t-border-radius-round: 999px;

  /*
   * Colours
   */

  /* Gray Colors */
  --t-gray-color: #dadfe1;
  --t-gray-color-light: #ecf0f1;
  --t-gray-color-very-light: #f7f7f7;
  --t-gray-color-dark: #bababc;
  --t-gray-color-very-dark: #47494d;

  /* Primary Colors */
  --t-primary-color: var(--t-indigo-color);
  --t-primary-color-light: var(--t-indigo-color-light);
  --t-primary-color-very-light: var(--t-indigo-color-very-light);
  --t-primary-color-dark: var(--t-indigo-color-dark);
  --t-primary-color-very-dark: var(--t-indigo-color-very-dark);
  --t-primary-box-shadow-color: var(--t-indigo-box-shadow-color);
  --t-primary-box-shadow-color-darker: var(--t-indigo-box-shadow-color-darker);
  --t-text-color-on-primary-color-bg: var(--t-text-color-on-indigo-color-bg);

  /* Secondary Colors */
  --t-secondary-color: var(--t-blue-color);
  --t-secondary-color-light: var(--t-blue-color-light);
  --t-secondary-color-very-light: var(--t-blue-color-very-light);
  --t-secondary-color-dark: var(--t-blue-color-dark);
  --t-secondary-color-very-dark: var(--t-blue-color-very-dark);
  --t-secondary-box-shadow-color: var(--t-blue-box-shadow-color);
  --t-secondary-box-shadow-color-darker: var(--t-blue-box-shadow-color-darker);
  --t-text-color-on-secondary-color-bg: var(--t-text-color-on-blue-color-bg);

  /* Success Colors */
  --t-success-color: var(--t-green-color);
  --t-success-color-light: var(--t-green-color-light);
  --t-success-color-very-light: var(--t-green-color-very-light);
  --t-success-color-dark: var(--t-green-color-dark);
  --t-success-color-very-dark: var(--t-green-color-very-dark);
  --t-success-box-shadow-color: var(--t-green-box-shadow-color);
  --t-success-box-shadow-color-darker: var(--t-green-box-shadow-color-darker);
  --t-text-color-on-success-color-bg: var(--t-text-color-on-green-color-bg);

  /* Warning Colors */
  --t-warning-color: var(--t-yellow-color);
  --t-warning-color-light: var(--t-yellow-color-light);
  --t-warning-color-very-light: var(--t-yellow-color-very-light);
  --t-warning-color-dark: var(--t-yellow-color-dark);
  --t-warning-color-very-dark: var(--t-yellow-color-very-dark);
  --t-warning-box-shadow-color: var(--t-yellow-box-shadow-color);
  --t-warning-box-shadow-color-darker: var(--t-yellow-box-shadow-color-darker);
  --t-text-color-on-warning-color-bg: var(--t-text-color-on-yellow-color-bg);

  /* Error Colors */
  --t-error-color: var(--t-red-color);
  --t-error-color-light: var(--t-red-color-light);
  --t-error-color-very-light: var(--t-red-color-very-light);
  --t-error-color-dark: var(--t-red-color-dark);
  --t-error-color-very-dark: var(--t-red-color-very-dark);
  --t-error-box-shadow-color: var(--t-red-box-shadow-color);
  --t-error-box-shadow-color-darker: var(--t-red-box-shadow-color-darker);
  --t-text-color-on-error-color-bg: var(--t-text-color-on-red-color-bg);

  /* Background Colous */
  --t-bg-color: #f3f4f6;
  --t-bg-color-light: #f9fafb;
  --t-bg-color-dark: #e5e7eb;

  /* Text Colours */
  --t-text-color: rgba(0, 0, 0, 0.85);
  --t-muted-text-color: rgba(0, 0, 0, 0.6);
  --t-text-color-light: rgba(0, 0, 0, 0.7);
  --t-body-bg-color: var(--t-bg-color-light);
  --t-body-bg-image: none;
  --t-horizontal-rule-color: rgba(0, 0, 0, 0.05);
  --t-border-color: rgba(0, 0, 0, 0.2);

  /*
   * Box Shadow
   */
  --t-shadow-sm: 0 0.1rem 0.2rem var(--t-shadow-color);
  --t-shadow-md: 0 0.2rem 0.4rem var(--t-shadow-color);
  --t-shadow-lg: 0 0.4rem 0.8rem var(--t-shadow-color);

  /*
   * Breakpoints
   */
  --t-breakpoint-xsm: 48em; /* mobile - min-width 480px */
  --t-breakpoint-sm: 64em; /* tablet - min-width 640px */
  --t-breakpoint-md: 76.8em; /* min-width 768px */
  --t-breakpoint-lg: 102.4em; /* laptop - min-width 1024px  */
  --t-breakpoint-xlg: 128em; /* desktop - min-width 1280px  */
  --t-breakpoint-xxlg: 153.6em; /* min-width 1536px */
}

/*
 * Non Contextual Variable
 * There are variables that will not be referenced directly in the css
 * These will be referenced in other variables which will be used
 */

:root {
  /*
   * Typography
   */

  /* Font Size */
  --t-font-size-multiplier: 1rem;

  /* Line Height */
  --t-line-height: 1.5; /* Internet's Recomendation */
  --t-line-height-multiplier: 1rem;

  /* Font Weight */
  --t-font-weight: var(--t-font-weight-regular);
  --t-font-weight-multiplier: 100;

  /*
   * General Spacing 
   */
  --t-spacing-multiplier: 1rem;

  /*
   * Colours
   */

  /* Blue */
  --t-blue-color: #1890ff; /* rgba(24, 144, 255, 1) */
  --t-blue-color-light: #45a3fb;
  --t-blue-color-very-light: #cfe7fd;
  --t-blue-color-dark: #0d518f;
  --t-blue-color-very-dark: #172636;
  --t-blue-box-shadow-color: rgba(24, 144, 255, 0.3);
  --t-blue-box-shadow-color-darker: rgba(24, 144, 255, 0.6);
  --t-text-color-on-blue-color-bg: #ffffff;

  /* Indigo */
  --t-indigo-color: #6563ff; /* rgba(101, 99, 255, 1) */
  --t-indigo-color-light: #857cfc;
  --t-indigo-color-very-light: #e0dcfe;
  --t-indigo-color-dark: #383677;
  --t-indigo-color-very-dark: #1f2130;
  --t-indigo-box-shadow-color: rgba(101, 99, 255, 0.3);
  --t-indigo-box-shadow-color-darker: rgba(101, 99, 255, 0.6);
  --t-text-color-on-indigo-color-bg: #ffffff;

  /* Teal */
  --t-teal-color: #38b2ac; /* rgba(56, 178, 172, 1) */
  --t-teal-color-light: #5fc0bd;
  --t-teal-color-very-light: #d2efee;
  --t-teal-color-dark: #265758;
  --t-teal-color-very-dark: #1b2a2d;
  --t-teal-box-shadow-color: rgba(56, 178, 172, 0.3);
  --t-teal-box-shadow-color-darker: rgba(56, 178, 172, 0.6);
  --t-text-color-on-teal-color-bg: #ffffff;

  /* Green */
  --t-green-color: #0be881; /* rgba(11, 232, 129, 1) */
  --t-green-color-light: #81eea8;
  --t-green-color-very-light: #d5f9e5;
  --t-green-color-dark: #0d8951;
  --t-green-color-very-dark: #17312a;
  --t-green-box-shadow-color: rgba(11, 232, 129, 0.3);
  --t-green-box-shadow-color-darker: rgba(11, 232, 129, 0.6);
  --t-text-color-on-green-color-bg: #ffffff;

  /* Yellow */
  --t-yellow-color: #ffcf00; /* rgba(255, 207, 0, 1) */
  --t-yellow-color-light: #ffe04d;
  --t-yellow-color-very-light: #fff6cc;
  --t-yellow-color-dark: #8e7710;
  --t-yellow-color-very-dark: #302c1d;
  --t-yellow-box-shadow-color: rgba(255, 207, 0, 0.3);
  --t-yellow-box-shadow-color-darker: rgba(255, 207, 0, 0.6);
  --t-text-color-on-yellow-color-bg: #ffffff;

  /* Orange */
  --t-orange-color: #ed8936; /* rgba(237, 137, 54, 1) */
  --t-orange-color-light: #f09f53;
  --t-orange-color-very-light: #fbe6d2;
  --t-orange-color-dark: #6e4623;
  --t-orange-color-very-dark: #2e2620;
  --t-orange-box-shadow-color: rgba(237, 137, 54, 0.3);
  --t-orange-box-shadow-color-darker: rgba(237, 137, 54, 0.6);
  --t-text-color-on-orange-color-bg: #ffffff;

  /* Red */
  --t-red-color: #ff4d4f; /* rgba(245, 34, 45, 1) */
  --t-red-color-light: #ed586c;
  --t-red-color-very-light: #f8d0d9;
  --t-red-color-dark: #8c0e2e;
  --t-red-color-very-dark: #301923;
  --t-red-box-shadow-color: rgba(245, 34, 45, 0.3);
  --t-red-box-shadow-color-darker: rgba(245, 34, 45, 0.6);
  --t-text-color-on-red-color-bg: #ffffff;

  /* Pink */
  --t-pink-color: #ed64a6; /* rgba(237, 100, 166, 1) */
  --t-pink-color-light: #ee7db7;
  --t-pink-color-very-light: #f9dced;
  --t-pink-color-dark: #6d3655;
  --t-pink-color-very-dark: #2d212d;
  --t-pink-box-shadow-color: rgba(237, 100, 166, 0.3);
  --t-pink-box-shadow-color-darker: rgba(237, 100, 166, 0.6);
  --t-text-color-on-pink-color-bg: #ffffff;

  /* Shadow Colour */
  --t-shadow-color: rgba(0, 0, 0, 0.15);
}
