/*
 * Contextual Variables
 * There are colours that will not be referenced directly in the css
 * These will be referenced in other variables which will be used
 * ~ TOC ~
 * 1. Typography
 * 2. General Spacing 
 * x. Border Radius 
 * x. Colours
 * x. Box Shadow
 * x. Breakpoints
 */

:root {
  /*
   * Typography
   */

  /* Font Family */
  --font-family: "Montserrat", sans-serif;

  /* Font Size */
  --font-size-xsm: calc(0.5 * var(--font-size-multiplier)); /* 8px */
  --font-size-sm: calc(1 * var(--font-size-multiplier)); /* 16px */
  --font-size-md: calc(1.5 * var(--font-size-multiplier)); /* 24px */
  --font-size-lg: calc(2 * var(--font-size-multiplier)); /* 32px */
  --font-size-xlg: calc(2.5 * var(--font-size-multiplier)); /* 40px */
  --font-size-xxlg: calc(3 * var(--font-size-multiplier)); /* 48px */

  /* Line Height */
  --line-height-xsm: calc(0.5 * var(--line-height-multiplier)); /* 8px */
  --line-height-sm: calc(1 * var(--line-height-multiplier)); /* 16px */
  --line-height-md: calc(1.5 * var(--line-height-multiplier)); /* 24px */
  --line-height-lg: calc(2 * var(--line-height-multiplier)); /* 32px */
  --line-height-xlg: calc(2.5 * var(--line-height-multiplier)); /* 40px */
  --line-height-xxlg: calc(4 * var(--line-height-multiplier)); /* 64px */

  /* Font Weight */
  --font-weight-light: calc(3 * var(--font-weight-multiplier)); /* 300 */
  --font-weight-regular: calc(4 * var(--font-weight-multiplier)); /* 400 */
  --font-weight-semibold: calc(6 * var(--font-weight-multiplier)); /* 600 */
  --font-weight-bold: calc(7 * var(--font-weight-multiplier)); /* 700 */
  --font-weight-black: calc(9 * var(--font-weight-multiplier)); /* 900 */

  /*
   * General Spacing 
   */
  --spacing-xsm: calc(0.25 * var(--spacing-multiplier)); /* 4px */
  --spacing-sm: calc(0.5 * var(--spacing-multiplier)); /* 8px */
  --spacing-md: calc(1 * var(--spacing-multiplier)); /* 16px */
  --spacing-lg: calc(1.5 * var(--spacing-multiplier)); /* 24px */
  --spacing-xlg: calc(2 * var(--spacing-multiplier)); /* 32px */
  --spacing-xxlg: calc(3 * var(--spacing-multiplier)); /* 48px */

  /*
   * Border Radius 
   */
  --border-radius-sm: 5px;
  --border-radius-md: 10px;
  --border-radius-lg: 15px;
  --border-radius-round: 999px;

  /*
   * Colours
   */

  /* Gray Colors */
  --gray-color: #dadfe1;
  --gray-color-light: #ecf0f1;
  --gray-color-very-light: #f7f7f7;
  --gray-color-dark: #bababc;
  --gray-color-very-dark: #47494d;

  /* Primary Colors */
  --primary-color: var(--indigo-color);
  --primary-color-light: var(--indigo-color-light);
  --primary-color-very-light: var(--indigo-color-very-light);
  --primary-color-dark: var(--indigo-color-dark);
  --primary-color-very-dark: var(--indigo-color-very-dark);
  --primary-box-shadow-color: var(--indigo-box-shadow-color);
  --primary-box-shadow-color-darker: var(--indigo-box-shadow-color-darker);
  --text-color-on-primary-color-bg: var(--text-color-on-indigo-color-bg);

  /* Secondary Colors */
  --secondary-color: var(--blue-color);
  --secondary-color-light: var(--blue-color-light);
  --secondary-color-very-light: var(--blue-color-very-light);
  --secondary-color-dark: var(--blue-color-dark);
  --secondary-color-very-dark: var(--blue-color-very-dark);
  --secondary-box-shadow-color: var(--blue-box-shadow-color);
  --secondary-box-shadow-color-darker: var(--blue-box-shadow-color-darker);
  --text-color-on-secondary-color-bg: var(--text-color-on-blue-color-bg);

  /* Success Colors */
  --success-color: var(--green-color);
  --success-color-light: var(--green-color-light);
  --success-color-very-light: var(--green-color-very-light);
  --success-color-dark: var(--green-color-dark);
  --success-color-very-dark: var(--green-color-very-dark);
  --success-box-shadow-color: var(--green-box-shadow-color);
  --success-box-shadow-color-darker: var(--green-box-shadow-color-darker);
  --text-color-on-success-color-bg: var(--text-color-on-green-color-bg);

  /* Warning Colors */
  --warning-color: var(--yellow-color);
  --warning-color-light: var(--yellow-color-light);
  --warning-color-very-light: var(--yellow-color-very-light);
  --warning-color-dark: var(--yellow-color-dark);
  --warning-color-very-dark: var(--yellow-color-very-dark);
  --warning-box-shadow-color: var(--yellow-box-shadow-color);
  --warning-box-shadow-color-darker: var(--yellow-box-shadow-color-darker);
  --text-color-on-warning-color-bg: var(--text-color-on-yellow-color-bg);

  /* Error Colors */
  --error-color: var(--red-color);
  --error-color-light: var(--red-color-light);
  --error-color-very-light: var(--red-color-very-light);
  --error-color-dark: var(--red-color-dark);
  --error-color-very-dark: var(--red-color-very-dark);
  --error-box-shadow-color: var(--red-box-shadow-color);
  --error-box-shadow-color-darker: var(--red-box-shadow-color-darker);
  --text-color-on-error-color-bg: var(--text-color-on-red-color-bg);

  /* Background Colous */
  --bg-color-light: #f9fafb;
  --bg-color: #f3f4f6;
  --bg-color-dark: #e5e7eb;

  /* Text Colours */
  --text-color: rgba(0, 0, 0, 0.85);
  --muted-text-color: rgba(0, 0, 0, 0.6);
  --text-color-light: rgba(0, 0, 0, 0.7);
  --body-bg-color: var(--bg-color-light);
  --body-bg-image: none;
  --horizontal-rule-color: rgba(0, 0, 0, 0.05);
  --border-color: rgba(0, 0, 0, 0.2);

  /*
   * Box Shadow
   */
  --shadow-sm: 0 0.1rem 0.2rem var(--shadow-color);
  --shadow-md: 0 0.2rem 0.4rem var(--shadow-color);
  --shadow-lg: 0 0.4rem 0.8rem var(--shadow-color);

  /*
   * Breakpoints
   */
  --breakpoint-xsm: 30em; /* mobile - min-width 480px */
  --breakpoint-sm: 40em; /* tablet - min-width 640px */
  --breakpoint-md: 48em; /* min-width 768px */
  --breakpoint-lg: 64em; /* laptop - min-width 1024px  */
  --breakpoint-xlg: 80em; /* desktop - min-width 1280px  */
  --breakpoint-xxlg: 96em; /* min-width 1536px */
}

/*
 * Non Contextual Variable
 * There are variables that will not be referenced directly in the css
 * These will be referenced in other variables which will be used
 */

:root {
  /*
   * Typography
   */

  /* Font Size */
  --font-size-multiplier: 1rem;

  /* Line Height */
  --line-height: 1.5; /* Internet's Recomendation */
  --line-height-multiplier: 1rem;

  /* Font Weight */
  --font-weight: var(--font-weight-regular);
  --font-weight-multiplier: 100;

  /*
   * General Spacing 
   */
  --spacing-multiplier: 1rem;

  /*
   * Colours
   */

  /* Blue */
  --blue-color: #1890ff; /* rgba(24, 144, 255, 1) */
  --blue-color-light: #45a3fb;
  --blue-color-very-light: #cfe7fd;
  --blue-color-dark: #0d518f;
  --blue-color-very-dark: #172636;
  --blue-box-shadow-color: rgba(24, 144, 255, 0.3);
  --blue-box-shadow-color-darker: rgba(24, 144, 255, 0.6);
  --text-color-on-blue-color-bg: #ffffff;

  /* Indigo */
  --indigo-color: #6563ff; /* rgba(101, 99, 255, 1) */
  --indigo-color-light: #857cfc;
  --indigo-color-very-light: #e0dcfe;
  --indigo-color-dark: #383677;
  --indigo-color-very-dark: #1f2130;
  --indigo-box-shadow-color: rgba(101, 99, 255, 0.3);
  --indigo-box-shadow-color-darker: rgba(101, 99, 255, 0.6);
  --text-color-on-indigo-color-bg: #ffffff;

  /* Teal */
  --teal-color: #38b2ac; /* rgba(56, 178, 172, 1) */
  --teal-color-light: #5fc0bd;
  --teal-color-very-light: #d2efee;
  --teal-color-dark: #265758;
  --teal-color-very-dark: #1b2a2d;
  --teal-box-shadow-color: rgba(56, 178, 172, 0.3);
  --teal-box-shadow-color-darker: rgba(56, 178, 172, 0.6);
  --text-color-on-teal-color-bg: #ffffff;

  /* Green */
  --green-color: #0be881; /* rgba(11, 232, 129, 1) */
  --green-color-light: #81eea8;
  --green-color-very-light: #d5f9e5;
  --green-color-dark: #0d8951;
  --green-color-very-dark: #17312a;
  --green-box-shadow-color: rgba(11, 232, 129, 0.3);
  --green-box-shadow-color-darker: rgba(11, 232, 129, 0.6);
  --text-color-on-green-color-bg: #ffffff;

  /* Yellow */
  --yellow-color: #ffcf00; /* rgba(255, 207, 0, 1) */
  --yellow-color-light: #ffe04d;
  --yellow-color-very-light: #fff6cc;
  --yellow-color-dark: #8e7710;
  --yellow-color-very-dark: #302c1d;
  --yellow-box-shadow-color: rgba(255, 207, 0, 0.3);
  --yellow-box-shadow-color-darker: rgba(255, 207, 0, 0.6);
  --text-color-on-yellow-color-bg: #ffffff;

  /* Orange */
  --orange-color: #ed8936; /* rgba(237, 137, 54, 1) */
  --orange-color-light: #f09f53;
  --orange-color-very-light: #fbe6d2;
  --orange-color-dark: #6e4623;
  --orange-color-very-dark: #2e2620;
  --orange-box-shadow-color: rgba(237, 137, 54, 0.3);
  --orange-box-shadow-color-darker: rgba(237, 137, 54, 0.6);
  --text-color-on-orange-color-bg: #ffffff;

  /* Red */
  --red-color: #ff4d4f; /* rgba(245, 34, 45, 1) */
  --red-color-light: #ed586c;
  --red-color-very-light: #f8d0d9;
  --red-color-dark: #8c0e2e;
  --red-color-very-dark: #301923;
  --red-box-shadow-color: rgba(245, 34, 45, 0.3);
  --red-box-shadow-color-darker: rgba(245, 34, 45, 0.6);
  --text-color-on-red-color-bg: #ffffff;

  /* Pink */
  --pink-color: #ed64a6; /* rgba(237, 100, 166, 1) */
  --pink-color-light: #ee7db7;
  --pink-color-very-light: #f9dced;
  --pink-color-dark: #6d3655;
  --pink-color-very-dark: #2d212d;
  --pink-box-shadow-color: rgba(237, 100, 166, 0.3);
  --pink-box-shadow-color-darker: rgba(237, 100, 166, 0.6);
  --text-color-on-pink-color-bg: #ffffff;

  /* Shadow Colour */
  --shadow-color: rgba(0, 0, 0, 0.15);
}
